.cards__text {
  font-family: "Cabinet Grotesk Bold";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 40px auto 34px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 650px) {
}
