.sidebar__user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sidebar__avatar {
    margin-right: 16px;
}

.sidebar__username {
    font-family: 'Cabinet Grotesk Bold';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    margin: 0 116px 0 0;
    white-space: nowrap;
}

@media screen and (max-width:650px) {
   .sidebar__avatar {
    height: 56px;
    width: 56px;
   }

   .sidebar__username {
    font-size: 24px;
   }
}